<div class="table-container">
  <div class="pre-table">
    <div class="icon">
      <button mat-mini-fab aria-label="" color="primary" active>
        <mat-icon class="restore-icon">restore</mat-icon>
      </button>
    </div>
    <div class="table-title">
      <div class="title">Історія розміщення моєї інформації</div>
      <div class="subtitle">Увага! Були внесені зміни до Договору публічної оферти.</div>
    </div>
  </div>
  <div class="sorter-table">

      <table  class="mat-elevation-z8"  mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="publicationType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 
            <mat-form-field class="sell1" appearance="legacy">
              <mat-label>Тип публікації</mat-label>
              <mat-select [formControl]="types" multiple>
                <mat-select-trigger>
                  {{types.value ? types.value[0] : ''}}
                  <span *ngIf="types.value?.length > 1" class="example-additional-selection" >
                    (+{{types.value.length - 1}} {{types.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let type of typesList" [value]="type" (click)="addFilter(type, 'publicationType')" >{{type}}</mat-option>
              </mat-select>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.publicationType}} </td>
        </ng-container>
    
        <ng-container matColumnDef="termType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 
            <mat-form-field class="sell2" appearance="legacy">
              <mat-label>Періодичність</mat-label>
              <mat-select [formControl]="pediods" multiple>
                <mat-select-trigger>
                  {{pediods.value ? pediods.value[0] : ''}}
                  <span *ngIf="pediods.value?.length > 1" class="example-additional-selection">
                    (+{{pediods.value.length - 1}} {{pediods.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let period of pediodsList" [value]="period"  (click)="addFilter(period, 'termType')">{{period}}</mat-option>
              </mat-select>
            </mat-form-field>
            </th>
          <td mat-cell *matCellDef="let row"> {{row.termType}} </td>
        </ng-container>
    
        <ng-container matColumnDef="reportGroup">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 
            <mat-form-field class="sell3" appearance="legacy">
              <mat-label>Категорія суб'єкта</mat-label>
              <mat-select [formControl]="categories" multiple>
                <mat-select-trigger>
                  {{categories.value ? categories.value[0] : ''}}
                  <span *ngIf="categories.value?.length > 1" class="example-additional-selection">
                    (+{{categories.value.length - 1}} {{categories.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let category of categoryList" [value]="category" (click)="addFilter(category, 'reportGroup')">{{category}}</mat-option>
              </mat-select>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.reportGroup}} </td>
        </ng-container>
    
        <ng-container matColumnDef="reportState">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 
            <mat-form-field class="sell4" appearance="legacy">
              <mat-label>Статус</mat-label>
              <mat-select [formControl]="statuses" multiple>
                <mat-select-trigger>
                  {{statuses.value ? statuses.value[0] : ''}}
                  <span *ngIf="statuses.value?.length > 1" class="example-additional-selection">
                    (+{{statuses.value.length - 1}} {{statuses.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let status of statusList" [value]="status" (click)="addFilter(status, 'reportState')">{{status}}</mat-option>
              </mat-select>
            </mat-form-field>
          <td mat-cell *matCellDef="let row"> {{row.reportState}} </td>
        </ng-container>

        <ng-container matColumnDef="reportFormat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 
            <mat-form-field class="sell5" appearance="legacy">
              <mat-label>Тип файлу</mat-label>
              <mat-select [formControl]="fileTypes" multiple>
                <mat-select-trigger>
                  {{fileTypes.value ? fileTypes.value[0] : ''}}
                  <span *ngIf="fileTypes.value?.length > 1" class="example-additional-selection">
                    (+{{fileTypes.value.length - 1}} {{fileTypes.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let fileType of fileTypesList" [value]="fileType" (click)="addFilter(fileType, 'reportFormat')">{{fileType}}</mat-option>
              </mat-select>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.reportFormat}} </td>
        </ng-container>
    
        <ng-container matColumnDef="outputDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field  class="sell6" appearance="legacy">
            <mat-label>Вихідна дата документу</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" [startPicker]="startPicker" placeholder="з" (dateInput)="dateChangeStart($event.value)">
              <input matEndDate formControlName="end" [endPicker]="endPicker" placeholder="по" (dateInput)="dateChangeEnd($event.value)">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Не вірна початкова дата</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Не вірна  кінцева дата</mat-error>  
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.outputDate | date : 'dd.MM.yyyy'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="outputNumber">
          <th   mat-header-cell *matHeaderCellDef mat-sort-header> 
            <mat-form-field class="sell7" appearance="legacy">
              <mat-label>Вихідний номер документу</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Вихідний номер документу" #input>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.outputNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="res" >
          <th class="sell8" mat-header-cell *matHeaderCellDef > 
            <button class="reset-btn" mat-flat-button color="warn" (click)="clearFilters()">Скинути</button>  
          </th>
          <td mat-cell *matCellDef="let row" >
            <button mat-mini-fab aria-label=""  *ngIf="!isEmpty" (click)="deleteRow(row)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td  mat-cell class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
        </tr>
        
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      
  </div>
</div>