<div class="catalog-wrapper">

  <mat-form-field>
    <mat-label>Фильтер</mat-label>
    <input matInput (keyup)="applyFilter($event)" appearance="legacy" placeholder="Фильтер" #input>
  </mat-form-field>

  <div class="card-container" *ngIf="filteredCards">
    <div class="card" *ngFor="let card of filteredCards">
      <div class="title">{{ card.title }}</div>
      <div class="image" [ngStyle]="{'background-image': 'url(' + card.imgSrc + ')', 'background-position': 'center', 'background-size':'cover' }"></div>
      <div class="desc"><p>{{ card.description }}</p></div>
      <div class="footer">
        <div class="price">
          <div class="price price__old-price" *ngIf="card.oldPrice > 0 && discount !== 0 && card.oldPrice !== (card.oldPrice - card.oldPrice/100*discount)">{{ card.oldPrice }} грн</div>
          <div class="price price__new-price"><b>{{ card.oldPrice - card.oldPrice/100*discount }} грн </b></div>        
        </div>
        <div class="buy-button">
          <button mat-flat-button color="primary" (click)="addToCart(card.id)">Добавить в корзину</button>
        </div>
      </div>
    </div>
  </div>
</div>
