<div class="carousel carousel-slider center" #carousel>


  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Специальное предложение</h4>
      <p>Купите сегодна автомобиль Тесла Модэл-Х и получите в подарок 50 литров бензина А-76. Акция действует на территории всей страны, налоги и другие издержки несет исключительно покупатель. Спасибо за понимание.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Согласен</a>
    </div>
  </div>


  <div class="carousel-fixed-item center">
    <a data-target="modal1" class="btn waves-effect white grey-text darken-text-2  modal-trigger" href="#" (click)="click()">Специальное предложение</a>
  </div>
  <div class="carousel-item white-text slide1" href="#one!">
    <h2>Tesla Pick-Up</h2>
    <p class="white-text">Power - it's our passion</p>
  </div>
  <div class="carousel-item white-text slide2" href="#two!">
    <h2>Tesla Concept</h2>
    <p class="white-text">It's our future</p>
  </div>
  <div class="carousel-item white-text slide3" href="#three!">
    <h2>Tesla Model-X</h2>
    <p class="white-text">Чаечка расправила крылья</p>
  </div>
  <div class="carousel-item white-text slide4" href="#four!">
    <h2>Tesla Model-S</h2>
    <p class="white-text">It's came be true</p>
  </div>
</div>