<div class="side-toggle">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Настройки
      </mat-panel-title>
    </mat-expansion-panel-header>

        <mat-form-field appearance="legacy">
          <mat-label>Персональная скидка</mat-label>
          <mat-select>
            <mat-option *ngFor="let discount of discounts" [value]="discount.value" (click)="addValue(discount.value)">
              {{discount.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Цвет фона шапки</mat-label>
          <mat-select>
            <mat-option *ngFor="let color of colors" [value]="color.value"  (click)="addValue(color.value)">
              {{color.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </mat-expansion-panel>
</div>

