<div class="main-wrapper">
  <div class="main">
    <div class="my-carousel">
      <app-carousel></app-carousel>
    </div>
    <h3>Интересные факты</h3>
    <div class="description">
      <p>
        Компания Tesla (основанная как Tesla Motors) была зарегистрирована 1 июля 2003 года Мартином Эберхардом и Марком Тарпеннингом. Ян Райт был третьим сотрудником Tesla, присоединившимся к ней несколько месяцев спустя. В феврале 2004 года трое основателей привлекли инвестиции в размере 7,5 млн долларов США, при этом Илон Маск внес 6,5 млн долларов. Маск стал председателем совета директоров и назначил Эберхарда генеральным директором.
      </p>
      <p>
        Целью Tesla было начать со спортивного автомобиля премиум-класса, ориентированного на первых пользователей, а затем перейти к более массовым автомобилям, включая седаны и доступные компактные автомобили. Прототипы первого автомобиля Tesla были официально представлены публике 19 июля 2006 года в Санта-Монике (Калифорния).
      </p>
      <p>
        В 2006 году Маску удалось, проведя несколько раундов финансирования от инвестиционных фондов и известных предпринимателей (включая соучредителей Google), привлечь 100 млн долларов. В результате Tesla начала производство своей первой модели Roadster в 2008 году.
      </p>
      <p>
        В январе 2010 года Tesla получила от Министерства энергетики США заём в размере 465 миллионов долларов, который компания погасила в 2013 году. В мае 2010 года Tesla начала строительство фабрики во Фримонте (Калифорния) для производства Model S.
      </p>
      <p>
        29 июня 2010 года Tesla начала первичное публичное размещение акций (IPO) на NASDAQ, став первой американской автомобильной компанией, осуществившей IPO, после Ford Motor в 1956 году. Это дало компании доступ к крупнейшему источнику финансирования.
      </p>
      <p>
        В июне 2012 года Tesla начала производство своего второго автомобиля — Model S. В июле 2017 года Tesla начала продавать седан Model 3.
      </p>
      <p>
        В мае 2017 года Илон Маск представил план развития компании, предусматривающий добавление в линейку электромобилей и грузовика.
      </p>
      <p>
        В 2019 году Tesla выкупит производителя батарей Maxwell, сумма сделки составит примерно 218 миллионов долларов. Обе стороны планируют завершить сделку во втором квартале 2019 года.
      </p>
      <p>
        14 марта 2019 года был представлен новый электромобиль Tesla Model Y.
      </p>
      <p>
        В ноябре 2020 года Tesla, Uber и ещё 26 американских компаний учредили организацию Zero Emission Transport Association (ZETA), которая будет лоббировать увеличение количества электромобилей в США. Ассоциация будет выступать за изменения в национальной политике, которые подтолкнут отрасль к полному переходу на электромобили в секторах транспорта лёгкой, средней и большой грузоподъёмности к 2030 году.
      </p>
      <p>
        <b>Планы</b>
        В 2020 году в своем Твиттере Илон Маск, сообщил, что новый сервис Robotaxi готов к использованию уже в этом году. Нововведение относится ко всем моделям Tesla и представляет собой парк полностью автономных такси. Роботизированные электрокары смогут развозить пассажиров без привлечения водителя благодаря «умной» системе Full Self-Driving. Управлять ими можно будет с помощью мобильного приложения. Таким образом будет создана система каршеринга: когда владелец электромобиля сможет на расстоянии сдавать в аренду свою машину. Прибыль от таких поездок будет разделена между хозяином машины и компанией. На данный момент система полностью готова и функционирует (по словам Маска). Дата внедрения проекта Robotaxi зависит только от согласования с контролирующими органами и выдачи разрешения на автономное вождение 5 уровня.
      </p>
    </div> 
  </div>
</div>


  
