@import "variables";
@import "mixins";

.main-wrapper {
  display: inline-flex;
}

.open-menu {
  position: absolute;
  top: 30px;
  margin: o auto;
}

.sidebar {
  position: fixed;
  display: flex;
  width: 80%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  background-color: #ffffff;
  z-index: 22;

  &__open {
    transform: translateX(0);
    
  }

  @include respond-to($media_large) {
    position: inherit;
    flex-wrap: wrap;
    min-width: 250px;
    transform: translateX(0);
  }
}

.overlay {
  background: rgba(#000, 0);
  transition: background-color 0.5s ease;
  z-index: 20;

  &__visible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.7);
  }

  &__close {
    z-index: 21;
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
    font-size: 25px;
    color: $white;

    @include respond-to($media_large) {
      display: none;
    }
  }
} 

.main {
  display: block;
}

.my-carousel {
  width: 100%;
  background-color: darkgray;
}

.description {
  width: 100%;
}

.description {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 0;
  text-indent: 20px;
  text-align: justify;
  font-size: 14px;
}

.description p {
  display: block;
  width: 350px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid darkgray;
}

h3 {
  text-align: center;
}


.open-menu {
  position: absolute;
  display: block;
  margin: 0 auto;
  transform: translate(130px, -18px);


  @include respond-to($media_large) {
    display: none;
  }
}

.openSB {
  display: block;
  position: fixed;
  top: 75px;
  left: 17px;
  z-index: 25;
  background-color: white;
  border-radius: 50%;

  @include respond-to($media_large) {
    display: none;
  }
}
